extends sh

# Shebang
snippet #!
	#!/usr/bin/env bash

snippet s#!
	#!/usr/bin/env bash
	set -eu

snippet if
	if [[ $1 ]]; then
		${0:$TM_SELECTED_TEXT}
	fi
snippet elif
	elif [[ $1 ]]; then
		${0:$TM_SELECTED_TEXT}
snippet wh
	while [[ $1 ]]; do
		${0:$TM_SELECTED_TEXT}
	done
snippet until
	until [[ $1 ]]; do
		${0:$TM_SELECTED_TEXT}
	done
