priority -50

# We use a little hack so that the snippet is expanded
# and parsed correctly
snippet usnip "Ultisnips snippet definition" b
`!p snip.rv = "snippet"` ${1:Tab_trigger} "${2:Description}" ${3:b}
${0:$TM_SELECTED_TEXT}

snippet global "Global snippet" b
`!p snip.rv = "global"` !p
${0:$TM_SELECTED_TEXT}
`!p snip.rv = "endglobal"`

snippet vis "$TM_SELECTED_TEXT" i
\$\{VISUAL${1:${2:default}${3:/transform/}}\}

# vim:ft=snippets:
