priority -50

extends javascript

snippet int "interface"
interface ${1} {
}
snippet nspc "namespace"
namespace ${1} {
}
priority -49
snippet fun "function (named)" b
function ${1:function_name} (${2:argument}: ${3:argument_type}) {
	$TM_SELECTED_TEXT$0
}
